{% extends "blog_main/base.html" %}

{% block content %}

<!-- Recent article -->
<h3 class="text-uppercase text-warning mb-4" style="letter-spacing: 2px;">
  Search Keyword - {{ query }}
</h3>

<main role="main" class="container p-0">
  <div class="row">
    <div class="col-md-8 blog-main">

      {% if blogs %}
        {% for i in blogs %}
          <div class="card border-0 mb-3">
            <div class="card-body">
              <h3>
                <a href="{% url 'blogs' i.slug %}">{{ i.title }}</a>
              </h3>
              <small class="mb-1 text-muted">
                {{ i.created_at|timesince }} ago | {{ i.author }}
              </small>
              <p class="card-text">
                {{ i.short_description|truncatewords:20 }}
              </p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="text-muted">No blogs found for this keyword.</p>
      {% endif %}

    </div><!-- /.blog-main -->
  </div><!-- /.row -->
</main><!-- /.container -->

{% endblock %}


