<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>my first website</title>-->
<!--    <link rel="stylesheet"  type="text/css"  href="{% static 'blog_main/css/style.css' %}">-->


<!--</head>-->
<!--<body>-->
<!--<h1> hello django project blog website</h1>-->
<!--</body>-->
<!--</html>-->




{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Website</title>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Hello Django Project Blog Website</h1>
</body>
</html>
